

text {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;


}
nav {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF
}
a {
    text-decoration: none;
}

li:nth-child(1) {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    list-style: none;
}

li:nth-child(2){
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    list-style: none;
}

li:nth-child(3){
    position: absolute;
    width: 59px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    list-style: none;
}

.correo {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575
}
.telefono {
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.sobre{
    position: absolute;
    left: -18%;
    right: 100%;
    top: 1.81%;
    bottom: 97.55%;
    background: #757575;
}

.vector {
    position: absolute;
    left: -18%;
    right: 21.69%;
    top: 1.7%;
    bottom: 97.45%;
    background: #757575;
}



line {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;  
    border: 1px solid #ECECEC;
}
